<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="unlock.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hanalei+Fill|Roboto" rel="stylesheet">
    <title>Treasure</title>
</head>
<body>
    <h1>The real treasure...</h1>
    <h3>is you, <span><%= user.username %></span></h3>
    <img src="<%= user.imageURL %>" />
</body>
</html>